thead {
    /* background-color: cyan; */
    font-size: 18px;
    font-weight: bold;
}

td:first-child {
    width: 300px;
}

td:nth-child(2) {
    width: 170px;
}

#newTaskName {
    width: 400px;
}

.taskName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

