thead {
    background-color: yellowgreen;
    font-size: 18px;
    font-weight: bold;
}

td:nth-child(2) {
    width: 400px;
}

td:nth-child(3) {
    width: 170px;
}

#newTaskName {
    min-width: 400px;
}

.taskName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.checked {
    font-style: italic;
    color: red;
    text-decoration: line-through
}

